.bg-light {
    background-color: #f8f9fa !important;
    //    background-color: #fff !important;
    margin: 0px; 
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    a {
        color: black;
        padding: 3px;
        margin: 5px;
        text-decoration: none;
        background-color: transparent;
    }
}

.navbar-collapse {
    a {
        color: rgb(28, 28, 28);
        padding: 8px;
        margin: 5px;
        text-decoration: none;
        background-color: transparent;
    }
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color:rgba(0, 0, 0, 0) !important;
}

.homebutton{
    font-size: 1.05rem;
    color: #1c1c1c !important;
}


.componentheader{
    margin-top: 80px;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a.router-link-exact-active.router-link-active{
    color: rgba(79,118,167,.95);
}